[Unit]
Description=Slurm Exporter
After=network.target

[Service]
User={{ service_user | default("root") }}
WorkingDirectory={{ source_dir | default("/root/go/bin") }}
ExecStart={{ binary_dest | default("/root/go/bin/slurm_exporter") }}
Restart=on-failure

[Install]
WantedBy=multi-user.target