global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node"
    static_configs:
      - targets: [{% for host in groups['all'] %}
          "{{ hostvars[host].hostname | default(host) }}:9100"{% if not loop.last %}, {% endif %}{% endfor %}]


  - job_name: 'slurm-scraper'
    scrape_interval: 30s # For the best experience, this should be at least 2x POLL_LIMIT
    scrape_timeout: 30s
    static_configs:
        - targets: ['smn01:9092']

  - job_name: "grafana"
    static_configs:
      - targets: ["grafana:3000"]