AuthType=auth/munge
DbdHost={{ ansible_hostname }}
DbdPort=6819  # Default port for slurmdbd

# Database connection details
StorageType=accounting_storage/mysql
StorageHost={{ ansible_hostname }}
StorageUser=slurm
StoragePass=redrum1212
StorageLoc=slurm_acct_db
PidFile=/run/slurmdbd/slurmdbd.pid
LogFile=/var/log/slurm/slurmdbd.log    # Path to log file

SlurmUser=slurm